<script type="text/javascript">
	var ieVersion = (function() {
	    var v = 3,
	        div = document.createElement('div'),
	        all = div.getElementsByTagName('i');
	    while (
	        div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
	        all[0]
	    );  
	    return v > 4 ? v : false;
	})();

	if(ieVersion && ieVersion == 8)
	{	
		location.href="/assets/frappe/html/ie8.html";
	}
	
	if(ieVersion && ieVersion < 8)
	{	
		location.href="/assets/frappe/html/noieunder9.html";
	}
</script>
{% block script %}
	{% include "templates/includes/start.js" %}
{% endblock %}

{% block style %}
	{% include "templates/includes/start.css" %}
	#wrap-footer, .navbar {
		display: none;
	}
	.page-content {
		right: 0%;
		width: 100%;
	}
{% endblock %}

{% block title %}
{{ _("博实ERP(可直接启动)") }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}



<div class="container" style="max-width: 800px;">
	<div class="row" style="margin-top: 100px;">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					开始演示程序
				</div>
				<div class="panel-body">
					<p>
					<input id="lead-email" type="email"
						class="form-control" placeholder="电子邮箱（可选）">
					</p>
					<p>
						<button type="submit" id="login_btn" 
							class="btn btn-primary btn-large">启动</button>
					</p>
					<hr>
					<p class="text-muted small">示例程序有一些功能是被禁用的，如果您有额外的需求，请通过ERP Boost官网提供的电话进行联系或者发送邮件至sales@erpboost.com<a href="http://www.erpboost.com/product-price.html">点击这里</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>
</div>

{% endblock %}